body {
  background-color: white;
  width: 100%;
  /* min-height: 150vh; */
  padding: 0px;
  margin: 0px;
  font-family: Dosis;
  /* font-style: italic; */
}

@font-face {
  font-family: Dosis;
  src: url('/fonts/Dosis-VariableFont_wght.ttf');
}

.heroImage {
  height: 70vh;
  /* background-color: aqua; */
  margin-top: 10vh;
  z-index: -10;
  /* width: 100%; */
  background-color: white;
}

.heroImage img {
  object-fit: cover;
  width: 100%;
  border-radius: 0px 30% 0px 0px;
  /* z-index: 10; */
  height: 100%;
}


.aboutBody {
  background-color: rgb(255, 255, 255);
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.aboutBody p {
  /* background-color: aqua; */
  width: 25%;
  font-size: 2.5rem;
  font-family: Dosis;
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

.aboutBody p2 {
  /* background-color: aqua; */
  width: 30%;
  font-size: 1.5rem;
  font-family: Dosis;
  text-align: center;
  font-weight: 100;
  color: rgb(73, 73, 73);
  /* font-style: italic; */
}

.aboutRobbyHeader {
  width: 100%;
  background-color: white;
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.aboutRobbyHeader p {
  margin-right: 10rem;
  font-weight: 100;
  font-size: 2rem;
  text-align: end;
}

.aboutRobbySecondLevel {
  /* background-color: aquamarine; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutRobbyBody {
  /* background-color: orange; */
  height: 100%;
  width: 45%;
  margin-bottom: 3rem;
}

.aboutRobbyBody p {
  width: 100%;
  font-size: 1.7rem;
  text-align: right;
  text-indent: 2rem;
  font-style: normal;
  margin: 0px;
}

.aboutRobbyPicture {
  margin-bottom: 3rem;
  width: 40%;
}

.aboutRobbyPicture img {
  object-fit: cover;
  width: 100%;
  /* margin-top: 3rem; */
  height: 100%;
}

.aboutRobbyThirdLevel {
  /* background-color: #f78c58; */
  /* height: 10vh; */
  display: flex;
  width: 100%;
}

.aboutRobbyThirdLevel p {
  width: 100%;
  font-size: 1.7rem;
  text-align: right;
  text-indent: 2rem;
  font-style: normal;
  margin: 0px 3rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
}

.secondPhoto {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.secondPhoto img {
  width: 50%;
  object-fit: fill;
  height: 100%;
}