footer {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  justify-content: space-between;

}

@font-face {
  font-family: Dosis;
  src: url('/fonts/Dosis-VariableFont_wght.ttf');
}

.copyright {
  /* background-color: maroon; */
  /* width: 20%; */
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 5rem;
}

.copyright p {
  color: rgb(53, 53, 53);
  font-family: Dosis;
  font-weight: 100;
}