body {
  background-color: white;
  width: 100%;
  /* min-height: 150vh; */
  padding: 0px;
  margin: 0px;
  font-family: Dosis;
  /* font-style: italic; */
}

@font-face {
  font-family: Dosis;
  src: url('/fonts/Dosis-VariableFont_wght.ttf');
}

.fullscreen {
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 5vh;
  left: 5vw;
}

.heroDiv {
  /* height: 100vh; */
  /* background-color: aqua; */
  margin-top: 10vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column
}

.heroDivLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 6rem;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.heroDivLayerP {
  margin: 0px;
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}




.picAndTextContainer {
  /* background-color: royalblue; */
  display: flex;
  flex-direction: column;
}

.picAndTextContainer img:not(:hover) {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  /* border-radius: 0px 0px 0px 60%; */
  background-color: #f78c58;
  filter: grayscale(.7);
  transition-duration: .3s;
}

.picAndTextContainer img:hover {
  object-fit: cover;
  width: 30vw;
  height: 25vw;
  background-color: #f78c58;
  transition-duration: .3s;
  cursor: pointer;

}


.picAndTextContainer p {
  font-family: Dosis;
  font-weight: 100;
  /* font-style: italic; */
  font-size: large;
  text-align: center;
}


.stupidQuoteDiv {
  background-color: white;
  height: 50vh;
  /* border-top: 1px;
  border-top-color: gray;
  border-top-style: solid;
  border-bottom: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stupidQuoteDiv p {
  /* background-color: aqua; */
  width: 30%;
  font-size: 2.5rem;
  font-family: Dosis;
  text-align: center;
  font-weight: 100;
  font-style: italic;
}

.stupidQuoteDiv p2 {
  /* background-color: aqua; */
  width: 30%;
  font-size: 1.5rem;
  font-family: Dosis;
  text-align: center;
  font-weight: 100;
  color: rgb(73, 73, 73);
  /* font-style: italic; */
}

.secondPhoto {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.secondPhoto img {
  width: 50%;

}

.contactRobbyNow {
  background-color: white;
  height: 30vh;
}

.contactRobbyNowDiv {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  flex-direction: column;
  /* background-image: url(/pics/landscape2.webp); */
  object-fit: contain;
}

.contactRobbyNowDiv p {
  font-size: 2rem;
  font-family: Dosis;
  font-weight: 600;
  font-stretch: extra-expanded;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0px;
  font-weight: 100;
}

.contactRobbyNowDiv p2 {
  font-size: 1rem;
  font-weight: 600;
  font-stretch: extra-expanded;
  background-color: #f78c58;
  padding: .5rem 1rem;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  color: white;
  font-weight: 100;
}

.contactRobbyNowDiv a {
  text-decoration: none;
}